.noDefaultStyle {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  appearance: none;
  font-weight: bold;
}
.notoSans {
  font-family: "Noto Sans JP", sans-serif;
}
#fallback {
}

#pageWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

#header {
  width: 100vw;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: solid 1px #414141;
}

#logo {
  height: 110px;
  user-select: none;
  -webkit-user-drag: none;
  cursor: pointer;
}

#webSiteDescription {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  color: #414141;
  padding-left: 40px;
  width: 40%;
  overflow-wrap: break-word;
  user-select: none;
}

#search {
  font-family: "Noto Sans JP", sans-serif;
  border: solid 1px #414141;
  border-radius: 12px;
  width: 101%;
  height: 50px;
  padding: 0;
  padding-left: 15px;
}
#search:focus {
  outline: none;
}
#formSearch {
  width: 100%;
}

#searchWrapper {
  width: 50%;
  display: flex;
  align-items: center;
}

#searchIcon {
  color: #414141;
  font-size: 120%;
}

#resultWrapper {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: scroll;
  flex: 1;
  flex-wrap: wrap;
  padding-top: 20px;
  user-select: none;
}

#resultWrapper::-webkit-scrollbar {
  background: none;
  width: 7px;
}

#resultWrapper::-webkit-scrollbar-thumb {
  -webkit-app-region: no-drag;
  background-color: #c7c7c7;
  border-radius: 10px;
}

#resultWrapper::-webkit-scrollbar-corner {
  display: none;
}

.productPrice {
  background-color: #1b1b1bd7;
  font-family: "Noto Sans JP", sans-serif;
  position: absolute;
  width: auto;
  padding: 0 10px 0 10px;
  bottom: 32px;
  left: 25px;
  z-index: 1;
  font-weight: bold;
  color: white;
}
.productThmubnailPicture {
  width: 200px;
  height: 220px;
  object-fit: cover;
  user-select: none;
  -webkit-user-drag: none;
}
.productThumbnail {
  cursor: pointer;
  width: 250px;
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  position: relative;
  transition: all 600ms 0s ease;
  margin: 10px;
}
.productThumbnail:hover {
  scale: 1.1;
}

.productName {
  font-family: "Noto Sans JP", sans-serif;
  color: #1b1b1b;
  font-weight: bold;
}
#searchWordDisplay {
  font-family: "Noto Sans JP", sans-serif;
  color: #353535;
  font-size: 200%;
  font-weight: 600;
}
#detailDisplayName {
  font-size: 300%;
  font-weight: bold;
  color: #2c2c2c;
  margin-bottom: 2%;
}
#detailDisplayPrice {
  width: 100%;
  font-size: 150%;
  font-weight: bold;
  color: #2c2c2c;
}
#detailDisplayStock {
  margin-bottom: 10%;
  color: #2c2c2c;
}
#descriptionPrefix {
  color: #2c2c2c;
}
#detailDisplayDescription {
  overflow-y: hidden;
  overflow-wrap: break-word;
  user-select: none;
  width: 100%;
  height: 15%;
  margin-left: 2%;
  margin-bottom: 3%;
}
#buttonOrder {
  user-select: none;
  width: 80%;
  height: 70px;
  background-color: #ff2929;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 10px;
  font-size: 150%;
  cursor: pointer;
}
#detailDisplayPicture {
  display: flex;
  width: 40%;
  max-width: 500px;
  height: 60%;
  max-height: 500px;
  object-fit: cover;
  user-select: none;
  -webkit-user-drag: none;
  margin-left: 13%;
  background-color: #f5f5f7;
}
#detailContentWrapper {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  user-select: none;
  margin-left: 10%;
}
#detailWrapper {
  width: 100%;
  height: 88%;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
#noResult {
  margin-top: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #dfdfdf;
  font-weight: bold;
  font-size: 500%;
  user-select: none;
}
#gratitudeWrapper {
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#gratituteMessage {
  padding-top: 4%;
  font-size: 400%;
  font-weight: bold;
  color: #2c2c2c;
  user-select: none;
}
#gratitudeRoundedThumbnail {

  width: 40%;
  max-width: 800px;
  height: 60%;
  max-height: 800px;

  clip-path: circle(33% at center);
  object-fit: cover;
  -webkit-user-drag: none;
  user-select: none;
}
#shipDate {
  user-select: none;
  font-size: 200%;
  color: #2c2c2c;
  font-weight: bold;
}

.fadeOutToLeft {
  animation: fade-out-to-left 0.7s ease forwards;
}
.fadeInFromRight {
  animation: fade-in-from-right 0.7s ease forwards;
}

@keyframes fade-out-to-left {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }

  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}
@keyframes fade-in-from-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
